<body class="text-center">
    <main class="form-signin">
        <form [formGroup]="registerForm">
          <h1 class="h3 mb-3 fw-normal">Kayıt ol</h1>
      
          <div class="form-floating">
            <input formControlName="firstName" type="firstName" class="form-control" id="floatingInput" placeholder="firstName" >
            <label for="floatingInput">Ad</label>
          </div>
          <div class="form-floating">
            <input formControlName="lastName" type="lastName" class="form-control" id="floatingInput" placeholder="lastName" >
            <label for="floatingInput">Soyad</label>
          </div>
          <div class="form-floating">
            <input formControlName="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">E-posta</label>
          </div>
          <div class="form-floating">
            <input formControlName="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Şifre</label>
          </div>
      
          <!-- <div class="checkbox mb-3">
            <!-- <label>
              <input type="checkbox" value="remember-me"> Beni hatırla
            </label> -->
          <!-- </div> -->
          <p routerLink="/login">Zaten bir hesabın var mı?</p>
          <button (click)="register()" class="w-100 btn btn-lg btn-success" type="submit">Giriş yap</button>
          
        </form>
      </main>
        </body>