
<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="    margin-left: 180px;">Güncelle</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="color:black">
        <div class="card-body">
          <form [formGroup]="colorUpdateForm" >
            <div class="mb-3" >
              <div class="mb-3" >
                <label for="colorName">Renk adı</label>
                <input type="text" id="colorName" formControlName="colorName"
                       class="form-control">
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Kapat</button>
        <button (click)="updateColor()" type="button" class="btn btn-success"  data-bs-dismiss="modal">Değişiklikleri kaydet</button>
      </div>
    </div>
  </div>
</div>

