<div *ngIf="dataLoaded == false" class="text-center">
  <div class="spinner-border text-dark" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<ul *ngIf="dataLoaded == true" class="list-group">
  <li 
  routerLink="/cars" 
  [ngClass]="getAllBrandClass()" 
  aria-current="true">Tüm markalar</li>

  <li 
  routerLink="/cars/brand/{{brand.brandId}}"
  (click)="setCurrentBrand(brand)" *ngFor="let brand of brands" [ngClass]="getCurrentBrandClass(brand)">
    {{brand.brandName}}
  </li>
</ul>