<body class="text-center">
<main class="form-signin  ">
    <form [formGroup]="loginForm">
      <h1 class="h3 mb-3 fw-normal">Giriş yap</h1>
  
      <div class="form-floating">
        <input formControlName="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com" >
        <label for="floatingInput">E-posta</label>
      </div>
      <div class="form-floating">
        <input formControlName="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Şifre</label>
      </div>
  
      <!-- <div class="checkbox mb-3"> -->
        <!-- <label>
          <input type="checkbox" value="remember-me"> Beni hatırla
        </label> -->
      <!-- </div> -->
      <p routerLink="/register">Hesabın yok mu?</p>
      <button (click)="login()" class="w-100 btn btn-lg btn-success" type="submit">Giriş yap</button>
      
    </form>
  </main>
    </body>