<!-- <div class="b-example-divider"></div>

<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a routerLink="" class="nav-link px-2 text-white">Ana Sayfa</a></li>
        <li><a routerLink="cars" class="nav-link px-2 text-white">Araçlar</a></li>
        <li><a routerLink="brands" class="nav-link px-2 text-white">Markalar</a></li>
        <li><a routerLink="colors" class="nav-link px-2 text-white">Renkler</a></li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <input type="search" class="form-control form-control-dark" placeholder="Search...">
      </form>

      <div class="text-end">
        <button routerLink="login" type="button" class="btn btn-outline-light me-2">Giriş yap</button>
        <button routerLink="register" type="button" class="btn btn-warning">Kayıt ol</button>
      </div>
      <div class="dropdown text-end">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
          <li><a class="dropdown-item">New project...</a></li>
          <li><a class="dropdown-item" >Settings</a></li>
          <li><a class="dropdown-item" >Profile</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" >Sign out</a></li>
        </ul>
      </div>
    </div>
  </div>
  
</header> -->

<nav class="navbar navbar-expand-lg" style="background-color: #198754">
  <div class="container-fluid">
    <a routerLink="" class="navbar-brand" style="color: white;">RentCK</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul  class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li ><a  routerLink="" class="nav-link px-2 text-white">Ana Sayfa</a></li>
        <li><a routerLink="cars" class="nav-link px-2 text-white">Araçlar</a></li>
        <li><a routerLink="brands" class="nav-link px-2 text-white">Markalar</a></li>
        <li><a routerLink="colors" class="nav-link px-2 text-white">Renkler</a></li>
        <li><a routerLink="rentals" class="nav-link px-2 text-white">Kiralamalar</a></li>

        <!-- <li class="nav-item dropdown active">
          <a style="color: white;" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Araba işlemleri
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" routerLink="cars" >Arabalar</a></li>
            <li><a class="dropdown-item" routerLink="cars/add" >Araba ekle</a></li>
          </ul>
        </li>  

        <li class="nav-item dropdown active">
          <a style="color: white;" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Marka işlemleri
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" routerLink="brands" >Markalar</a></li>
            <li><a class="dropdown-item" routerLink="brands/add" >Marka ekle</a></li>
          </ul>
        </li>  
        <li class="nav-item dropdown active">
          <a style="color: white;" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Renk işlemleri
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" routerLink="colors" >Renkler</a></li>
            <li><a class="dropdown-item" routerLink="colors/add" >Renk ekle</a></li>
          </ul>
        </li>  -->

      </ul>

      <div class="text-end" *ngIf="checkToLogin()==false">
        <button routerLink="login" type="button" class="btn btn-success" style="margin-right: 10px;    background-color: #12a661;
            border-color: #084e2d;">
          Giriş yap
        </button>
        <button routerLink="register" type="button" class="btn btn-success" style="    background-color: #12a661;
            border-color: #084e2d;">
          Kayıt ol
        </button>
      </div>
      <div class="dropdown text-end" *ngIf="checkToEmail()==true">
        <a
         
          class="d-block link-dark text-decoration-none dropdown-toggle"
          id="dropdownUser1"
          data-bs-toggle="dropdown"
          aria-expanded="true"
           type="button"
           style="color: white;"
        >
        
        {{this.user.firstName}} {{this.user.lastName}}
        
        </a>
        
        <div class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
          <li><a routerLink="/profil" class="dropdown-item">Profil düzenle</a></li>
          <li><a routerLink="cars/add" class="dropdown-item">Araba ekle</a></li>
          <li><a routerLink="brands/add" class="dropdown-item">Marka ekle</a></li>
          <li><a routerLink="colors/add" class="dropdown-item">Renk ekle</a></li>
          <li><a class="dropdown-item disabled">Ayarlar</a></li>
          <li><hr class="dropdown-divider" /></li>
          <a (click)="logOut()" class="dropdown-item">Çıkış yap</a>
        </div>
      </div>
    </div>
  </div>
</nav>
