<div class="content d-flex justify-content-center">
  <div class="row justify-content-md-center">
      <div class="col-md-12">
          <div class="p-fluid p-formgrid p-grid">
              <form [formGroup]="brandAddForm">
                  <div class="mb-3">
                    <label for="brandName">Marka adı</label>
                    <input type="text" id="brandName" formControlName="brandName"
                          style="width: 500px;" class="form-control">
                      </div>
              </form>
          </div>
          <div class="card">
              <button (click)="add()" type="button" class="btn btn-success"  data-bs-dismiss="modal">Değişiklikleri kaydet</button>
          </div>
      </div>
  </div>
</div>