<div  class="content d-flex justify-content-center">
  <div class="row justify-content-md-center">
      <div class="col-md-12 ">
      <div class="card">
        <div class="card-header"><h5 class="title">Marka ekle</h5></div>
        <div class="card-body">
          <form [formGroup]="brandAddForm">
            <div class="mb-3">
              <label for="brandName">Marka ismi</label>
  
              <div class="form-group" style="width: 30rem;">
                <input
                  type="text"
                  id="brandName"
                  formControlName="brandName"
                  class="form-control"
                  placeholder="Marka ismi giriniz."
                />

            </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
            <button style="width: 100px;"class="btn btn-fill btn-success"(click)="add()">Ekle</button>
        </div>
      </div>
    </div>
  </div>
  </div>