<div  class="content d-flex justify-content-center">
  <div class="row justify-content-md-center">
      <div class="col-md-12 ">
      <div class="card">
        <div class="card-header"><h5 class="title">Araba ekle</h5></div>
        <div class="card-body">
          <form [formGroup]="carAddForm">
            <div class="mb-3">
              <label for="brandId">Marka numarası</label>
  
              <div class="form-group"style="width: 35rem;">
                <input
                  type="number"
                  id="brandId"
                  formControlName="brandId"
                  class="form-control"
                  placeholder="Marka numarası"
                />
              </div>
            </div>
            <div class="mb-3">
              <label for="colorId">Renk numarası</label>
              <div class="form-group">
                <input
                  type="number"
                  id="colorId"
                  formControlName="colorId"
                  class="form-control"
                  placeholder="Renk numarası"
                />
              </div>
            </div>
  
            <div class="mb-3">
              <label for="modelYear">Model yılı</label>
  
              <div class="form-group">
                <input
                  type="number"
                  id="modelYear"
                  formControlName="modelYear"
                  class="form-control"
                  placeholder="Model yılı"
                />
              </div>
            </div>
            <div class="mb-3">
              <label for="dailyPrice">Birim Fiyatı</label>
  
              <div class="form-group">
                <input
                  type="number"
                  id="dailyPrice"
                  formControlName="dailyPrice"
                  class="form-control"
                  placeholder="Fiyatı"
                />
              </div>
            </div>

              <div class="mb-3">
              <label for="description">Açıklaması</label>
  
              <div class="form-group">
                <input
                  type="text"
                  id="description"
                  formControlName="description"
                  class="form-control"
                  placeholder="Açıklaması"
                />
              </div>
            </div>
           
          </form>
        </div>
        <div class="card-footer">
            <button style="width: 100px;" class="btn btn-fill btn-success"(click)="add()">Ekle</button>
        </div>
      </div>
    </div>
  </div>

  </div>