<div class="content d-flex justify-content-center">
  <div class="row justify-content-md-center">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Araba ekle</h5>
        </div>
        <div class="card-body">
          <form [formGroup]="carAddForm">
            <div class="mb-3">
              <label for="brandId">Marka seç</label>
              <div class="col-sm-12">
                <select class="form-control" formControlName="brandId">
                  <option *ngFor="let brand of brands" placeholder="Marka" [ngValue]="brand.brandId">{{brand.brandName}}
                  </option>
                </select>
              </div>
            </div>
            <div class="mb-3">
              <label for="colorId">Renk seç</label>
              <div class="col-sm-12">
                <select class="form-control" formControlName="colorId">
                  <option *ngFor="let color of colors" placeholder="Renk" [ngValue]="color.colorId">{{color.colorName}}
                  </option>
                </select>
              </div>

            </div>
            <div class="mb-3">
              <label for="modelYear">Model yılı</label>

              <div class="form-group">
                <input type="number" id="modelYear" formControlName="modelYear" class="form-control"
                  placeholder="Model yılı" />
              </div>
            </div>
            <div class="mb-3">
              <label for="dailyPrice">Birim Fiyatı</label>

              <div class="form-group" style="width: 30rem;">
                <input type="number" id="dailyPrice" formControlName="dailyPrice" class="form-control"
                  placeholder="Fiyatı" />
              </div>
            </div>

            <div class="mb-3">
              <label for="description">Açıklaması</label>

              <div class="form-group">
                <input type="text" id="description" formControlName="description" class="form-control"
                  placeholder="Açıklaması" />
              </div>
              <div class="mb-3">
                <label for="minFindeksScore">Findeks puanı</label>
                <div class="form-group">
                  <input type="number" id="minFindeksScore" formControlName="minFindeksScore" class="form-control"
                    placeholder="Açıklaması" />
                </div>
              </div>
            </div>

          </form>
        </div>
        <div class="card-footer">
          <button style="width: 100px; margin-left: 192px;" class="btn btn-fill btn-success"
            (click)="add()">Ekle</button>
        </div>
      </div>
    </div>
  </div>

</div>