<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1 id="" class="mb-3" style="font-size: 4rem;margin-top: 16px;">Siz ihtiyacınızı söyleyiniz biz karşılayalım…</h1>
            <p class="lead mb-4" style="font-size: 1.5rem;">
                18 yıldan beri İstanbul`da en ucuz araç kiralama hizmeti vermenin gururunu yaşıyoruz. Kapınıza teslim 7/24 araç kiralama hizmeti ve her ay yenilenene kampanyalar sizin için.
            </p>
            <button type="button" class="btn btn-success" routerLink="cars">Hemen kirala</button>
        </div>

        <div class="col-md-6">
<img src="https://localhost:5001//images/3d27e3e9-5470-4edf-ab6c-929f600f9757.jpg" width="120%">
        </div>
    </div>
    <div class="row">
        <div id="icon" class="col-md-6">  
            <svg  xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-cash" viewBox="0 0 16 16">
                <path d="M8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/>
                <path id="icon" d="M0 4a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V6a2 2 0 0 1-2-2H3z"/>
              </svg>
            <h1 class="mb-3" style="font-size: 2rem;">Ucuz Araç Kiralama </h1>
            <p class="lead mb-4" >
                İstanbul`da en ucuz araç kiralama merkezi.
            </p>
        </div>
        
        <div id="clock" class="col-md-6">
            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                <path  id="icon" d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
              </svg>
            <h1 id="hood" class="mb-3" >7/24 Hizmet </h1>
            <p class="lead mb-4">
                Bir telefonla 7/24 kapınıza ücretsiz araç teslimi
            </p>
        </div>
    </div>
</div>