<div class="alert alert-info" role="alert">
  <h2>Musteriler</h2> 
 </div>

  <div *ngIf="dataLoaded==false"  class="spinner-border text-success" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
<table *ngIf="dataLoaded==true" class="table">
  <thead>
    <tr>
      <th>Müşteri Numarası</th>
      <th>Müşteri</th>
      <th>Şirket</th>
    </tr>
  </thead>
  <tr *ngFor="let customer of customers">
    <td>{{customer.userId}}</td>
    <td>{{customer.firstName + " "+ customer.lastName}}</td>
    <td>{{customer.companyName}}</td>
  </tr>
</table>
