<div class="container">
<app-navi></app-navi>
  <div class="row">
    <div class="col-md-3">
      <app-list-group></app-list-group>
    </div>
    <div class="col-md-9">
      <app-car></app-car>
      </div>
  </div>
  <div class="col-md-12">
    <app-colors></app-colors>
  </div>
  <div class="col-md-12">
    
    <app-brand></app-brand>
  </div>
  <div class="col-md-12">
    <app-customer></app-customer>
  </div>
  <div class="col-md-12">
    <app-rental></app-rental>
  </div>
  
  <router-outlet></router-outlet>
  
</div>