<div class="content">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header"><h5 class="title">Renk ekle</h5></div>
        <div class="card-body">
          <form [formGroup]="colorAddForm">
            <div class="mb-3">
              <label for="colorName">Renk ismi</label>
  
              <div class="form-group">
                <input
                  type="text"
                  id="colorName"
                  formControlName="colorName"
                  class="form-control"
                  placeholder="Renk ismi giriniz"
                />

            </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
            <button class="btn btn-fill btn-warning"(click)="add()">Ekle</button>
        </div>
      </div>
    </div>
  </div>