<div class="container">
  <div class="row">
    <div class="col-md-3">
      <app-brand-category></app-brand-category>
      <app-color></app-color>
    </div>
    <div class="col-md-9">
      <h4 style="margin-left: 37%;margin-top: 10px; margin-bottom: -10px">
        ARABALAR
      </h4>
      <div *ngIf="dataLoaded == false" class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>

      <div style="width: 91%;" class="mb-3">
        <label for="filterText" class="form-label"></label>
        <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText"
          placeholder="Araç ismi giriniz" />
      </div>

      <div *ngIf="filterText" class="alert alert-success">
        {{ filterText }} aradınız.
      </div>
      <div class="row" *ngIf="dataLoaded == true">
        <div *ngFor="let car of cars | carfilterPipe: filterText" class="card" style="width:19rem">
          <img [src]="car.images.length !== 0 ? imageBasePath+ car.images[0] : imageBasePath + defaultImg"
            class="card-img-top" alt="{{ car.description }} Image" width="100%" height="100%" />
          <div class="card-body">
            <h5 class="card-title">{{ car.brandName | uppercase }}</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Model Yılı: {{ car.modelYear }}</li>
            <li class="list-group-item">Fiyat: {{ car.dailyPrice |currency: "TRY":"symbol-narrow":"1.2-2" }}</li>
            <li class="list-group-item">Findeks puanı: {{ car.minFindeksScore }}</li>
          </ul>
          <div class="card-body">
            <section style="float: top">
              <button routerLink="/cars/detail/{{ car.carId }}" type="button" class="btn btn-outline-success">
                Detaylar
              </button>
              <button routerLink="/rental/{{ car.carId }}" style=" margin-top: -64px;   margin-left: 122px;width: 80px;"
                type="button" class="btn btn-outline-success">
                Kirala
              </button>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>