button#rentalButton{
  margin-top: -64px;
  margin-left: 122px;
  width: 80px;
}
button#filter{
  margin-left: 10px;
  width: 230px;
  background-color: #198754;
  color: white;
}

h4{
  margin-left: 37%;
  margin-top: 10px;
  margin-bottom: -10px;
 
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 19rem;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 20px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }
  :host {
    margin: 10px;
    align-self: auto;
    flex: 0 1 auto;
  }
  
  .card {
    max-width: 250px;
  }
  
  .card-image > img {
    width: 100%;
  }
  
  .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
   
  }
  .car-model {
    font-size: 20px;
    font-weight: bold;
    padding: 15px 0;
  }
  .card-img, .card-img-top {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    margin-top: 10px;
} 


